@use "src/styles/utils/variables";
@use "src/styles/abstract/flex";
@use "src/styles/components/buttons";
@use "src/styles/components/mat-card";
@use "src/styles/components/drag-area";
@use "src/styles/components/cursor";

.custom-add-flashcard-dialog-container {
  mat-dialog-container {
    @include mat-card.mat-dialog-container;
  }
}

.add-flashcard-dialog-container {

  .size {
    min-height: 235px;
    max-width: 265px;
  }

  .action-buttons {
    @include flex.row-between-center;
    flex-wrap: nowrap;
    width: 100%;

    .mat-button {
      min-width: 0 !important;
    }
  }

  .title {
    font-size: 30px !important;
  }

  .font {
    font-family: variables.$font-family-segoe;
    color: variables.$body-font-color;
    text-align: center;
  }

  .display-none {
    display: none !important;
  }

  %drag-area-basic {
    font-size: 1.5rem;
    padding: 10px;
    background-color: transparent;
  }

  .drag-area {
    @include drag-area.drag-area;
  }

  .drop-area {
    @include drag-area.drop-area;
  }

  .image {
    width: 100%;
    max-height: 250px;
    text-align: center;
    overflow-y: auto;

    img {
      @include cursor.pointer;
      width: 100%;
      height: auto;
    }
  }

  .delete-image-info {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-family: variables.$font-family-segoe;
    color: variables.$warning-color;
    margin-top: 0.3em;
  }
}
