<div class="add-flashcard-dialog-container">
  <h1 mat-dialog-title class="font title">Dodawanie fiszki:</h1>
  <mat-card class="mat-card-background mat-card-border size">
    <div class="flashcards-creator-container">
      <form class="form-group" [formGroup]="flashcardFormGroup">
        <div class="form-group">
          <input id='add-content'
                 type="search"
                 spellcheck="false"
                 autocomplete="off"
                 placeholder="Słówko"
                 class="form-field"
                 [ngClass]="isInvalidFormField(flashcardFormGroup.controls.content) ? 'invalid-form-field-border' : ''"
                 [formControlName]="'content'"/>
          <label for="add-content" class="form-label"
                 [ngClass]="isInvalidFormField(flashcardFormGroup.controls.content) ? 'invalid-label-color' : ''">
            Słówko PL *
          </label>
        </div>

        <div class="form-group">
          <input id='add-translation'
                 type="search"
                 spellcheck="false"
                 autocomplete="off"
                 placeholder="Tłumaczenie"
                 class="form-field"
                 [ngClass]="isInvalidFormField(flashcardFormGroup.controls.translation) ? 'invalid-form-field-border' : ''"
                 [formControlName]="'translation'"/>
          <label for="add-translation" class="form-label"
                 [ngClass]="isInvalidFormField(flashcardFormGroup.controls.translation) ? 'invalid-label-color' : ''">
            Tłumaczenie *
          </label>
        </div>

        <div class="form-group">
          <input id='add-example'
                 type="search"
                 spellcheck="false"
                 autocomplete="off"
                 placeholder="Przykład"
                 class="form-field"
                 [ngClass]="isInvalidFormField(flashcardFormGroup.controls.example) ? 'invalid-form-field-border' : ''"
                 [formControlName]="'example'"/>
          <label for="add-example" class="form-label"
                 [ngClass]="isInvalidFormField(flashcardFormGroup.controls.example) ? 'invalid-label-color' : ''">
            Przykład
          </label>
        </div>
      </form>

      <div class="form-group">
        <div *ngIf="!flashcardFormGroup.value.image" ngClass="{{dragAreaClass}}">
          <div class="row">
            <div style="font-size: 15px; text-align: center">
              <div class="font" style="display: inline-block; padding-right: 5px">Przeciągnij obrazek lub</div>
              <div class="font" style="display: inline-block">
                <a href="javascript:void(0)"
                   (click)="file.click()">
                  kliknij, aby wybrać
                </a>
              </div>
              <input type="file"
                     #file
                     accept=".png, .jpg, .jpeg"
                     [multiple]="false"
                     (change)="onFileChange($event)"
                     style="display:none"/>
            </div>
          </div>
        </div>

        <div class="image" *ngIf="flashcardFormGroup.value.image">
          <div (dblclick)="resetImage()" [innerHTML]="flashcardFormGroup.value.image"></div>
          <div class="delete-image-info">
            Podwójne kliknięcie na obrazek je usuwa.
          </div>
        </div>
      </div>
    </div>
  </mat-card>
  <div mat-dialog-actions class="action-buttons">
    <button mat-button class="red-button" (click)="close()">
      <mat-icon ngClass.gt-xs="display-none">arrow_back</mat-icon>
      <span ngClass.lt-sm="display-none">Anuluj</span>
    </button>
    <button mat-button class="cyan-button" (click)="reset()">
      <mat-icon ngClass.gt-xs="display-none">close</mat-icon>
      <span ngClass.lt-sm="display-none">Reset</span>
    </button>
    <button mat-button class="green-button" (click)="save()">
      <span ngClass.gt-xs="display-none">OK</span>
      <span ngClass.lt-sm="display-none">Zapisz</span>
    </button>
  </div>
</div>
