@use "utils/variables";
@use "abstract/flex";

.centered-container {
  @include flex.column-center-center;
  $flashcards-container-padding-top: 100px;
  margin-top: -20px;
  padding: $flashcards-container-padding-top 50px 0 50px;
  min-height: calc(#{variables.$body-min-height} - #{variables.$footer-height} - #{$flashcards-container-padding-top});
}
