<!--<div fxLayout="column" style=" min-height: 100%;" fxLayoutAlign="center center">-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Input</mat-label>-->
<!--    <input matInput>-->
<!--  </mat-form-field>-->
<!--  <div fxLayout="row" fxLayoutGap="20px">-->
<!--    <button mat-button color="primary" class="width" (click)="cancel()">Anuluj</button>-->
<!--    <button mat-button color="primary" class="width" (click)="cancel()">Wyczyść</button>-->
<!--    <button mat-button color="primary" class="width" (click)="save()">Zapisz</button>-->
<!--  </div>-->
<!--</div>-->
