<app-flashcards-menu></app-flashcards-menu>
<div class="flashcards-creator-container">

  <div class="form__group field">
    <input type="text" class="form__field" placeholder="Słówko" name="name" id='name' required/>
    <label for="name" class="form__label">Słówko</label>
  </div>

  <div class="form__group field">
    <input type="text" class="form__field" placeholder="Tłumaczenie" name="name2" id='name2' required/>
    <label for="name2" class="form__label">Tłumaczenie</label>
  </div>

  <div class="form__group field">
    <input type="text" class="form__field" placeholder="Przykład" name="name3" id='name3' required/>
    <label for="name3" class="form__label">Przykład</label>
  </div>


  <div class="form__group">
    <div *ngIf="!loadedFile" draggable="true" ngClass="{{dragAreaClass}}" style="max-height: 100px">
      <div class="row">
        <div class="col-md-12 text-center" style="font-size: 15px; text-align: center">
          <div style="display: inline-block; padding-right: 5px">Przeciągnij plik lub</div>
          <div style="display: inline-block">
            <a href="javascript:void(0)" (click)="file.click()">
              kliknij, aby wybrać
            </a>
          </div>
          <input type="file"
                 #file
                 [multiple]="false"
                 (change)="onFileChange($event)"
                 style="display:none"/>
        </div>
      </div>
    </div>

    <button mat-button (click)="addFlashcard()">test</button>

    <div [innerHTML]="z"></div>

    <!--    <div *ngIf="!loadedFile" draggable="true" ngClass="{{dragAreaClass}}" style="max-height: 100px">-->
<!--      <div class="row">-->
<!--        <div class="col-md-12 text-center" style="font-size: 15px; text-align: center">-->
<!--          <div style="display: inline-block; padding-right: 5px">Przeciągnij plik lub</div>-->
<!--          <div style="display: inline-block">-->
<!--            <a href="javascript:void(0)" (click)="file.click()">-->
<!--              kliknij, aby wybrać-->
<!--            </a>-->
<!--          </div>-->
<!--          <input type="file"-->
<!--                 #file-->
<!--                 [multiple]="false"-->
<!--                 (change)="onFileChange($event)"-->
<!--                 style="display:none"/>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div *ngIf="loadedFile" class="selected-quiz margin-top">
      <div style="display: flex; width: 100%; font-size: min(5vmin, 20px); word-break: break-word;">
        {{loadedFile.name}}
      </div>
    </div>
    <div class="error margin-top">
      <span *ngIf="isError">Quizy należy importować pojedyńczo</span>
    </div>
  </div>


  <div fxLayout="row" fxLayoutGap="20px">
    <button mat-button color="primary" class="width" (click)="cancel()">Anuluj</button>
    <button mat-button color="primary" class="width" (click)="cancel()">Wyczyść</button>
    <button mat-button color="primary" class="width" (click)="save()">Zapisz</button>
  </div>
</div>
