<app-flashcards-menu></app-flashcards-menu>

<div class="flashcards-creator-container">
  <form class="form-group" [formGroup]="flashcardFormGroup">
    <div class="form-group">
      <input [formControlName]="'content'"
             type="text"
             id='content'
             class="form-field"
             [ngClass]="isInvalidFormField(flashcardFormGroup.controls.content) ? 'invalid-form-field-border' : ''"
             placeholder="Słówko"/>
      <label
        for="content"
        class="form-label"
        [ngClass]="isInvalidFormField(flashcardFormGroup.controls.content) ? 'invalid-label-color' : ''">
        Słówko *
      </label>
    </div>

    <div class="form-group">
      <input [formControlName]="'translation'"
             type="text"
             id='translation'
             class="form-field"
             [ngClass]="isInvalidFormField(flashcardFormGroup.controls.translation) ? 'invalid-form-field-border' : ''"
             placeholder="Tłumaczenie"/>
      <label
        for="translation"
        class="form-label"
        [ngClass]="isInvalidFormField(flashcardFormGroup.controls.translation) ? 'invalid-label-color' : ''">
        Tłumaczenie *
      </label>
    </div>

    <div class="form-group">
      <input [formControlName]="'example'"
             type="text"
             id='example'
             class="form-field"
             [ngClass]="isInvalidFormField(flashcardFormGroup.controls.example) ? 'invalid-form-field-border' : ''"
             placeholder="Przykład"/>
      <label for="example"
             class="form-label"
             [ngClass]="isInvalidFormField(flashcardFormGroup.controls.example) ? 'invalid-label-color' : ''">
        Przykład
      </label>
    </div>
  </form>

  <div class="form-group">
    <div *ngIf="!loadedFile" ngClass="{{dragAreaClass}}">
      <div class="row">
        <div style="font-size: 15px; text-align: center">
          <div style="display: inline-block; padding-right: 5px">Przeciągnij obrazek lub</div>
          <div style="display: inline-block">
            <a href="javascript:void(0)"
               (click)="file.click()">
              kliknij, aby wybrać
            </a>
          </div>
          <input type="file"
                 #file
                 accept=".png"
                 [multiple]="false"
                 (change)="onFileChange($event)"
                 style="display:none"/>
        </div>
      </div>
    </div>

    <div *ngIf="loadedFile" class="selected-quiz margin-top">
      <div style="display: flex; width: 100%; font-size: min(5vmin, 20px); word-break: break-word;">
        {{loadedFile.name}}
      </div>
    </div>
    <div class="error margin-top">
      <span *ngIf="isError">Quizy należy importować pojedyńczo</span>
    </div>
  </div>

  <div class="action-buttons" ngStyle.xs="gap: 10px;">
    <button mat-button class="red-border" ngStyle.xs="width: 40px;" routerLink="/flashcards">
      <mat-icon ngStyle.gt-xs="display: none">arrow_back</mat-icon>
      <span ngStyle.lt-sm="display: none">Wstecz</span>
    </button>
    <button mat-button class="cyan-border" ngStyle.xs="width: 40px;" (click)="reset()">
      <mat-icon ngStyle.gt-xs="display: none;">close</mat-icon>
      <span ngStyle.lt-sm="display: none">Reset</span>
    </button>
    <button mat-button class="green-border"
            ngClass.xs="xs-save-button"
            [ngStyle.xs]="{'opacity': isInvalid() ? '0.5' : '1'}"
            [ngStyle.gt-xs]="{'opacity': isInvalid() ? '0.5' : '1'}"
            [disabled]="isInvalid()"
            (click)="save()">
      Zapisz
    </button>
  </div>
</div>
