<app-flashcards-menu></app-flashcards-menu>

<div *ngIf="flashcards.length !== 0 && !loading">
  <div class="flashcards-container">
    <div class="flashcards-info">
      <mat-icon [class.random-index-on]="isRandomIndex" style="cursor: pointer !important;" (click)="toggleRandomIndex()">shuffle</mat-icon>
      <mat-icon [matTooltipPosition]="'above'" [matTooltip]="flashcards[index]!.id">info</mat-icon>
      {{index + 1}}/{{flashcards.length}}
    </div>
    <div class="flip-card" (click)="flipCard()">
      <div class="flip-card-inner" [ngClass]="!isRotated ? 'flip-back' : 'flip'">
        <div class="flip-card-front">
          <mat-card>
            <mat-card-title>{{flashcards[index]?.content}}</mat-card-title>
            <div class="image" [innerHTML]="flashcards[index]?.image"></div>
          </mat-card>
        </div>
        <div class="flip-card-back">
          <mat-card>
            <mat-card-title>{{flashcards[index]?.translation}}</mat-card-title>
            <mat-card-content>{{flashcards[index]?.example}}</mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <button mat-button color="primary" (click)="nextFlashcard()">Następny</button>
  </div>
</div>

<div *ngIf="flashcards.length === 0 || loading">
  <div class="flashcards-container">
    <div class="flip-card" style="cursor: default !important;">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <mat-card [class.loading]="loading">
            <mat-spinner *ngIf="loading" mode="indeterminate"></mat-spinner>
            <mat-card-content *ngIf="loading">Twoje fiszki się wczytują...</mat-card-content>

            <mat-card-title *ngIf="!loading">Nie masz fiszek</mat-card-title>
            <div *ngIf="!loading" class="image">
              <img src="assets/sad_dog.jpg">
            </div>
          </mat-card>
        </div>
      </div>
    </div>
    <button mat-button color="primary" disabled>Następny</button>
  </div>
</div>
