@use "src/styles/variables";

$flashcards-container-padding-top: 100px;

.flashcards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: $flashcards-container-padding-top;
  min-height: calc(#{variables.$body-min-height} - #{variables.$footer-height} - #{$flashcards-container-padding-top});

  .flip-card {
    height: 200px;
    width: 200px;
    cursor: pointer;
    background-color: transparent;

    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;

      .flip-card-front, .flip-card-back {
        position: absolute;
        border-radius: 1em;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
    }
  }

  .mat-button {
    margin-top: 25px;
    letter-spacing: 1px;
    height: 60px;
    width: 200px;
    font-size: 25px;
    background-color: rgba(3, 3, 3, 0.17);
    border: variables.$purple-color 2px solid;
    color: #f5f1f1;
  }
}

mat-card {
  height: 89.5%;
  border-radius: 1em;
}

.flip-card-front mat-card,
.flip-card-back mat-card {
  $bg-from-color: rgb(1, 1, 49);
  $bg-to-color: #040644;
  background: -webkit-linear-gradient(to right, $bg-from-color, $bg-to-color);
  background: -moz-linear-gradient(to right, $bg-from-color, $bg-to-color);
  background: -o-linear-gradient(to right, $bg-from-color, $bg-to-color);
  background: linear-gradient(to right, $bg-from-color, $bg-to-color);

  border: variables.$purple-color 2px solid;
  color: variables.$body-font-color;
}

.flip-card-front mat-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  word-break: break-all;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

.flip-back {
  transform: rotateY(0deg);
}
