@use "src/styles/variables";

$app-flashcards-menu-min-height: 54px;

app-flashcards-menu {
  height: $app-flashcards-menu-min-height;
}

.flashcards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(#{variables.$body-min-height} - #{variables.$footer-height} - #{$app-flashcards-menu-min-height});

  .mat-button {
    margin-top: 18px;
    letter-spacing: 1px;
    height: 60px;
    width: 200px;
    font-size: 25px;
    background-color: rgba(3, 3, 3, 0.17);
    border: variables.$purple-color 2px solid;
    color: rgba(255, 250, 250, 0.85);
  }
}

.width {
  width: 85%;
  max-width: 450px;
}

.flip-card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
}

mat-card {
  height: 89.5%;
  border-radius: 1em;
}

.flip-card-front mat-card {
  background: -webkit-linear-gradient(to right, #652ecb, #2193b0);
  background: -moz-linear-gradient(to right, #652ecb, #2193b0);
  background: -o-linear-gradient(to right, #652ecb, #2193b0);
  background: linear-gradient(to right, #652ecb, #2193b0);
}

.flip-card-back mat-card {
  background: -webkit-linear-gradient(to right, #2174b0, #842ecb);
  background: -moz-linear-gradient(to right, #2174b0, #842ecb);
  background: -o-linear-gradient(to right, #2174b0, #842ecb);
  background: linear-gradient(to right, #2174b0, #842ecb);
}

.flip-card-front mat-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  font-size: calc(40px + 2vw);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}

.flip-back {
  transform: rotateY(0deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  border-radius: 1em;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
