<div class="dialog-container">
  <h1 mat-dialog-title>Czy napewno chcesz usunąć tę fiszkę?</h1>
  <mat-card>
    <mat-card-title>{{data.content}}</mat-card-title>
    <mat-card-title>{{data.translation}}</mat-card-title>
    <mat-card-content>{{data.example}}</mat-card-content>
    <div class="image" [innerHTML]="data.image"></div>
  </mat-card>
  <div mat-dialog-actions>
    <button mat-button class="red-border" (click)="dialogRef.close()">Anuluj</button>
    <button mat-button class="green-border" [mat-dialog-close]="data.id" cdkFocusInitial>Zatwierdź</button>
  </div>
</div>
