<div class="remove-flashcard-dialog-container">
  <h1 mat-dialog-title class="font">Czy napewno chcesz usunąć tę fiszkę?</h1>
  <mat-card class="mat-card-background mat-card-border size">
    <mat-card-title class="font">{{data.content}}</mat-card-title>
    <mat-card-title class="font">{{data.translation}}</mat-card-title>
    <mat-card-content class="font">{{data.example}}</mat-card-content>
    <div class="image" [innerHTML]="data.image"></div>
  </mat-card>
  <div mat-dialog-actions class="action-buttons">
    <button mat-button class="red-button" (click)="dialogRef.close()">
      <mat-icon ngClass.gt-xs="display-none">arrow_back</mat-icon>
      <span ngClass.lt-sm="display-none">Anuluj</span>
    </button>
    <button mat-button class="green-button" (click)="deleteFlashcard(data.id)">
      <span ngClass.gt-xs="display-none">OK</span>
      <span ngClass.lt-sm="display-none">Zapisz</span>
    </button>
  </div>
</div>
