.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin: 0 20px 0 20px;
  height: 64px;
}

.footer h3 {
  margin: 0;
  font-size: clamp(10px, 3vmin, 22px);
  color:  #652ecb;
  letter-spacing: 2px;
}
