@use "src/styles/variables";

$title-sm-margin-bottom: 50px;
$title-sm-margin-top: 10px;
$category-margin-bottom: 60px;

.title-md {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: variables.$dashboard-title-height;
  margin-top: $title-sm-margin-top;
  margin-bottom: $title-sm-margin-bottom;
  column-gap: 33px;
  font-size: calc(20px + 3.5vw);
  text-shadow: #652ecb 6px 6px;
  letter-spacing: 0.4em;
}

.title-lt-md {
  @extend .title-md;
  flex-direction: column;
  font-size: calc(20px + 4vw);
}

.title-gt-md {
  @extend .title-md;
  flex-direction: row;
  font-size: min(26px + 3vw, 90px);
}

.category-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  min-height: 250px;
  width: 100%;
  height: calc(
    #{variables.$body-min-height}
    - #{variables.$dashboard-title-height}
    - #{variables.$footer-height}
    - #{$title-sm-margin-bottom}
    - #{$category-margin-bottom}
    - #{$title-sm-margin-top}
  );

  .category-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 20%;

    mat-card {
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
      border: #652ecb 2px solid;
      display: flex;
      width: min(calc(50px + 20vw), 290px);
      height: min(calc(20vw), 200px);
      color: variables.$body-font-color;

      $bg-from-color: rgb(1, 1, 49);
      $bg-to-color: #040644;
      background: -webkit-linear-gradient(to right, $bg-from-color, $bg-to-color);
      background: -moz-linear-gradient(to right, $bg-from-color, $bg-to-color);
      background: -o-linear-gradient(to right, $bg-from-color, $bg-to-color);
      background: linear-gradient(to right, $bg-from-color, $bg-to-color);

      $transform-delay: 0.4s;
      -webkit-transition: transform $transform-delay, color $transform-delay;
      -moz-transition: transform $transform-delay, color $transform-delay;
      -o-transition: transform $transform-delay, color $transform-delay;
      transition: transform $transform-delay, color $transform-delay;
    }

    mat-card-title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(120px + 20vw);
      font-family: variables.$body-font-family;
      font-weight: 700;
      font-size: min(calc(20px + 5vw), 75px);
    }
  }

  .category-lt-sm {
    @extend .category-sm;
    flex-direction: column;
    row-gap: 20px;

    mat-card {
      width: max(calc(80px + 20vw), 60px);
      height: max(calc(20vw), 150px);
    }

    mat-card-title {
      font-size: calc(30px + 2.5vw);
    }
  }
}
