@use "src/styles/utils/variables";

$title-sm-padding-bottom: 20px;
$title-sm-margin-top: 10px;

.title-md {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: variables.$dashboard-title-height;

  padding-top: $title-sm-margin-top;
  padding-bottom: $title-sm-padding-bottom;

  column-gap: 33px;
  font-size: calc(20px + 3.5vw);
  text-shadow: variables.$purple-color 6px 6px;
  letter-spacing: 0.4em;

  $bg-color: black;
  background-color: $bg-color;
  -webkit-box-shadow: 0 20px 40px 25px $bg-color;
  -moz-box-shadow: 0 20px 40px 25px $bg-color;
  box-shadow: 0 20px 40px 25px $bg-color;
}

.title-lt-md {
  @extend .title-md;
  flex-direction: column;
  font-size: calc(20px + 4vw);
}

.title-gt-md {
  @extend .title-md;
  flex-direction: row;
  font-size: min(26px + 3vw, 90px);
}

.category-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(
    #{variables.$body-min-height}
    - #{variables.$dashboard-title-height}
    - #{variables.$footer-height}
    - #{$title-sm-padding-bottom}
    - #{$title-sm-margin-top}
  );

  .category-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 20%;

    mat-card {
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
      border: variables.$purple-color 2px solid;
      display: flex;
      width: min(calc(50px + 20vw), 290px);
      min-height: min(calc(20vw), 200px);
      color: variables.$body-font-color;

      $bg-from-color: rgb(1, 1, 49);
      $bg-to-color: #040644;
      background: -webkit-linear-gradient(to right, $bg-from-color, $bg-to-color);
      background: -moz-linear-gradient(to right, $bg-from-color, $bg-to-color);
      background: -o-linear-gradient(to right, $bg-from-color, $bg-to-color);
      background: linear-gradient(to right, $bg-from-color, $bg-to-color);

      $transform-delay: 0.4s;
      -webkit-transition: transform $transform-delay, color $transform-delay;
      -moz-transition: transform $transform-delay, color $transform-delay;
      -o-transition: transform $transform-delay, color $transform-delay;
      transition: transform $transform-delay, color $transform-delay;
    }

    mat-card-title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(120px + 20vw);
      font-family: variables.$body-font-family;
      font-weight: 700;
      font-size: min(calc(20px + 5vw), 75px);
    }
  }

  .category-lt-sm {
    @extend .category-sm;
    flex-direction: column;
    row-gap: 20px;

    mat-card {
      width: max(calc(80px + 20vw), 60px);
      height: max(calc(20vw), 150px);
    }

    mat-card-title {
      font-size: calc(30px + 2.5vw);
    }
  }
}

.disabled {
  pointer-events: none;
  background: rgba(0, 0, 0, 0.6) !important;
  color: rgba(255, 255, 255, 0.6) !important;
}

.lock {
  position: absolute;
  font-size: 120px;
  height: 120px !important;
  width: 120px !important;
  color: rgba(255, 255, 255, 0.85);
}
