<div ngClass.lt-md="title-lt-md"
     ngClass.md="title-md"
     ngClass.gt-md="title-gt-md">
  <span>PR0JEKT</span>
  <span>ASTRAL</span>
</div>
<div class="category-container">
  <div ngClass.lt-sm="category-lt-sm"
       ngClass.sm="category-sm"
       ngClass.gt-sm="category-sm">
    <mat-card class="disabled">
      <mat-card-title>
        <mat-icon class="lock">lock</mat-icon>
        Czasy
      </mat-card-title>
    </mat-card>
    <mat-card routerLink="/flashcards">
      <mat-card-title>Fiszki</mat-card-title>
    </mat-card>
  </div>
</div>
