<div class="flashcards-id-info-container">
  <div class="display-flex">
    <mat-icon [inline]="true"
              [class.random-index-on]="menuTrigger.menuOpen"
              class="cursor-p"
              [matMenuTriggerFor]="menu"
              #menuTrigger="matMenuTrigger">info
    </mat-icon>
    <mat-menu #menu="matMenu" yPosition="above">
      <span mat-menu-item (click)="copyToClipboard()" ngxClipboard [cbContent]="id">{{id}}</span>
    </mat-menu>
    <mat-icon [inline]="true"
              [class.random-index-on]="getRandomIndex()"
              class="cursor-p"
              (click)="toggleRandomIndex()">shuffle
    </mat-icon>
  </div>
  <div>{{index + 1}}/{{length}}</div>
</div>
