@use "utils/variables";
@use "abstract/flex";
@use "layout/layout";
@use "components/mat-card";
@use "components/buttons";

.center-center {
  @include flex.center-center
}

.mat-card {
  @include flex.column-center-center;
  max-width: 470px;
  color: variables.$body-font-color;
  font-family: variables.$font-family-segoe;
}

.reset-password-success-title{
  text-align: center;
  font-size: 38px;
  font-weight: 600;
}


.green-border {
  border: variables.$green-button 2px solid;
}

.reset-password-success-content {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

