<app-flashcards-timer [isActivated]="isActivatedTimer"
                      [counter]="counter"
                      [isPaused]="isPausedTimer"></app-flashcards-timer>

<div class="header">

  <div class="navbar-items-container">
    <div class="title" routerLink="/dashboard">
      PROJEKT ASTRAL
    </div>

    <div ngClass.lt-md="hide-element" ngClass.md="hide-element" class="desktop-action-buttons">
      <div class="flashcard-action">
        <mat-icon>create</mat-icon>
        <button mat-button color="primary" [ngStyle]="activeTab === 'creator' ? {'background-color' : 'rgba(101,46,203,0.3)'} : {}" routerLink="/flashcards/creator">Dodaj</button>
        <button mat-button color="primary" [ngStyle]="activeTab === 'editor' ? {'background-color' : 'rgba(101,46,203,0.3)'} : {}" routerLink="/flashcards/editor">Edytuj</button>
        <button mat-button color="primary" [ngStyle]="activeTab === 'remover' ? {'background-color' : 'rgba(101,46,203,0.3)'} : {}" routerLink="/flashcards/remover">Usuń</button>
      </div>
      <div class="stopwatch-action">
        <mat-icon>hourglass_empty</mat-icon>
        <button mat-button color="primary" (click)="startTimer()" *ngIf="canStartTimer()">Aktywuj</button>
        <button mat-button color="primary" (click)="resumeTimer()" *ngIf="canResumeTimer()">Wznów</button>
        <button mat-button color="primary" (click)="pauseTimer()" *ngIf="canPauseTimer()">Zatrzymaj</button>
        <button mat-button color="primary" (click)="closeTimer()">Zakończ</button>
      </div>
    </div>

    <div ngClass.gt-md="hide-element">
      <input type="checkbox" id="checkbox2" class="checkbox2 visually-hidden"
             [checked]="isMenuOpen" (change)="toggleMenu()">
      <label for="checkbox2">
        <div class="hamburger hamburger2">
          <span class="bar bar1"></span>
          <span class="bar bar2"></span>
          <span class="bar bar3"></span>
          <span class="bar bar4"></span>
        </div>
      </label>
    </div>

    <div class="sign-in-user-and-power-off" ngClass.lt-md="hide-element" ngClass.md="hide-element">
      <div class="sign-in-user-container">
        <div class="sign-in-user">
          Zalogowany:
        </div>
        <div class="sign-in-user-name">
          <ng-container *ngIf="username.length > usernameMaxLength">
            {{username.substring(0, usernameMaxLength) | uppercase}}...
          </ng-container>
          <ng-container *ngIf="username.length <= usernameMaxLength">
            {{username | uppercase}}
          </ng-container>
        </div>
      </div>
      <mat-icon>
        power_settings_new
      </mat-icon>
    </div>
  </div>

  <div [ngClass]="isMenuOpen ? 'dropdown-content-fade-in' : 'dropdown-content-fade-out'">
    <div class="user-style-mobile">Zalogowany: Mateusz</div>
    <div class="category-mobile">FISZKI</div>
    <button class="dropdown-links-mobile" (click)="closeDropDown()" routerLink="/flashcards/creator">Dodaj</button>
    <button class="dropdown-links-mobile" (click)="closeDropDown()" routerLink="/flashcards/editor">Edytuj</button>
    <button class="dropdown-links-mobile" (click)="closeDropDown()" routerLink="/flashcards/remover">Usuń</button>

    <div class="category-mobile">Zegar</div>
    <button class="dropdown-links-mobile" (click)="startTimer(); closeDropDown()" *ngIf="canStartTimer()">Aktywuj</button>
    <button class="dropdown-links-mobile" (click)="resumeTimer(); closeDropDown()" *ngIf="canResumeTimer()">Wznów</button>
    <button class="dropdown-links-mobile" (click)="pauseTimer(); closeDropDown()" *ngIf="canPauseTimer()">Zatrzymaj</button>
    <button class="dropdown-links-mobile" (click)="closeTimer(); closeDropDown()">Zakończ</button>

    <button class="dropdown-links-mobile logout-button" (click)="closeDropDown()">
      Wyloguj się
      <mat-icon>
        power_settings_new
      </mat-icon>
    </button>
  </div>

</div>
