<app-flashcards-timer [isActivated]="isActivatedTimer"
                      [counter]="counter"
                      [isPaused]="isPausedTimer"></app-flashcards-timer>

<div class="header">

  <div class="navbar-items-container">
    <div class="title" routerLink="/dashboard">
      PROJEKT ASTRAL
    </div>

    <div ngClass.lt-md="hide-element" ngClass.md="hide-element" class="desktop-action-buttons">
      <div class="flashcard-action">
        <fa-icon [icon]="['far', 'pen-to-square']" size="2x"></fa-icon>
        <button mat-button color="primary" routerLink="/flashcards/creator">Dodaj</button>
        <button mat-button color="primary" routerLink="/flashcards/editor">Edytuj</button>
        <button mat-button color="primary" routerLink="/flashcards/remover">Usuń</button>
      </div>
      <div class="stopwatch-action">
        <fa-icon [icon]="['far', 'hourglass-half']" size="2x"></fa-icon>
        <button mat-button color="primary" (click)="startTimer();" *ngIf="canStartTimer()">Aktywuj</button>
        <button mat-button color="primary" (click)="resumeTimer();" *ngIf="canResumeTimer()">Wznów</button>
        <button mat-button color="primary" (click)="pauseTimer();" *ngIf="canPauseTimer()">Zatrzymaj</button>
        <button mat-button color="primary" (click)="closeTimer();">Zakończ</button>
      </div>
    </div>

    <div ngClass.gt-md="hide-element">
      <input type="checkbox" id="checkbox2" class="checkbox2 visually-hidden"
             [checked]="isMenuOpen" (change)="toggleMenu()">
      <label for="checkbox2">
        <div class="hamburger hamburger2">
          <span class="bar bar1"></span>
          <span class="bar bar2"></span>
          <span class="bar bar3"></span>
          <span class="bar bar4"></span>
        </div>
      </label>
    </div>

    <div class="sign-in-user-and-power-off" ngClass.lt-md="hide-element" ngClass.md="hide-element">
      <div class="sign-in-user-container">
        <div class="sign-in-user">
          Zalogowany:
        </div>
        <div class="sign-in-user-name">
          <ng-container *ngIf="username.length > 11">{{username.substring(0, 11) | uppercase}}...</ng-container>
          <ng-container *ngIf="username.length <= 11">{{username | uppercase}}</ng-container>
        </div>
      </div>
      <mat-icon>
        power_settings_new
      </mat-icon>
    </div>
  </div>

  <div [ngClass]="isMenuOpen ? 'dropdown-content-fade-in' : 'dropdown-content-fade-out'">
    <div class="user-style-mobile">Zalogowany: Mateusz</div>
    <div class="category-mobile">FISZKI</div>
    <button class="dropdown-links-mobile" (click)="closeDropDown()" routerLink="/flashcards/creator">Dodaj</button>
    <button class="dropdown-links-mobile" (click)="closeDropDown()" routerLink="/flashcards/editor">Edytuj</button>
    <button class="dropdown-links-mobile" (click)="closeDropDown()" routerLink="/flashcards/remover">Usuń</button>

    <div class="category-mobile">Zegar</div>
    <button class="dropdown-links-mobile" (click)="closeDropDown()">Aktywuj</button>
    <button class="dropdown-links-mobile" (click)="closeDropDown()">Zatrzymaj</button>
    <button class="dropdown-links-mobile" (click)="closeDropDown()">Zakończ</button>

    <button class="dropdown-links-mobile logout-button" (click)="closeDropDown()">
      Wyloguj się
      <mat-icon>
        power_settings_new
      </mat-icon>
    </button>
  </div>

</div>
