<div class="header">
  <div class="navbar-items-container">
    <div class="title">
      PROJEKT ASTRAL
    </div>

    <div ngClass.lt-md="hide-element" ngClass.md="hide-element" class="desktop-action-buttons">
      <div class="flashcard-action">
        <fa-icon [icon]="['far', 'pen-to-square']" size="2x"></fa-icon>
        <button mat-button color="primary">Dodaj</button>
        <button mat-button color="primary">Edytuj</button>
        <button mat-button color="primary">Usuń</button>
      </div>
      <div class="stopwatch-action">
        <fa-icon [icon]="['far', 'hourglass-half']" size="2x"></fa-icon>
        <button mat-button color="primary">Aktywuj</button>
        <button mat-button color="primary">Zatrzymaj</button>
      </div>
    </div>

    <div ngClass.gt-md="hide-element">
      <input type="checkbox" id="checkbox2" class="checkbox2 visually-hidden"
             [checked]="isMenuOpen" (change)="toggleMenu()">
      <label for="checkbox2">
        <div class="hamburger hamburger2">
          <span class="bar bar1"></span>
          <span class="bar bar2"></span>
          <span class="bar bar3"></span>
          <span class="bar bar4"></span>
        </div>
      </label>
    </div>

    <div class="sign-in-user-and-power-off" ngClass.lt-md="hide-element" ngClass.md="hide-element">
      <div class="sign-in-user-container">
        <div class="sign-in-user">
          Zalogowany:
        </div>
        <div class="sign-in-user-name">
          Mateusz
        </div>
      </div>
      <mat-icon>
        power_settings_new
      </mat-icon>
    </div>
  </div>

  <div [ngClass]="isMenuOpen ? 'dropdown-content-fade-in' : 'dropdown-content-fade-out'">
    <div class="user-style-mobile">Witaj: Mateusz</div>
    <button class="dropdown-links-mobile" (click)="closeDropDown()">Dodaj</button>
    <button class="dropdown-links-mobile" (click)="closeDropDown()">Edytuj</button>
    <button class="dropdown-links-mobile" (click)="closeDropDown()">Usuń</button>

    <button class="dropdown-links-mobile" (click)="closeDropDown()">Aktywuj</button>
    <button class="dropdown-links-mobile" (click)="closeDropDown()">Zatrzymaj</button>

    <button class="dropdown-links-mobile" (click)="closeDropDown()">Wyloguj się</button>
  </div>

</div>
