<div class="login-container">
  <mat-card>
    <mat-card-title>
      <mat-icon class="back-icon" routerLink="/login">arrow_back</mat-icon>
      <span class="register-title">Resetowanie hasła</span>
    </mat-card-title>

    <form class="form-group" [formGroup]="userGroup">
      <div class="form-group">
        <input [formControlName]="'email'"
               type="text"
               id='email'
               autocomplete="off"
               class="form-field"
               placeholder="EMAIL"/>
        <label
          for="email"
          class="form-label">
          EMAIL
        </label>
        <div style="min-height: 16px; font-size: 12px; color: red">
          <span *ngIf="isEmailError">
            Pole jest wymagane
          </span>
        </div>
        <div class="info">* Na podany email zostanie wysłana wiadomość umożliwiająca ustawienie nowego hasła.</div>
      </div>
    </form>

    <div class="action-buttons">
      <button mat-button class="trash" (click)="reset()">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-button class="login-button" (click)="register()">
        Zarejestruj
      </button>
    </div>
  </mat-card>
</div>
