@use "utils/variables";
//@use "utils/classes";
@use "abstract/flex";
@use "layout/forms";
@use "layout/layout";
@use "components/cursor";
@use "components/mat-card";

mat-card-title {
  font-family: variables.$body-font-family;
  margin-bottom: 0;
}

.register-container {
  @include flex.row-center-center;
  font-size: 15px;
  min-width: 221px;
  color: #dcd9d9;
}

.register {
  @include cursor.pointer;
  margin-left: 5px;
  color: #337ac0;
  cursor: pointer;
}

.forget-password-and-remember-me-container {
  @include flex.between-center;
  width: 100%;
}

.forget-password-container {
  @include flex.end-center;
  font-size: 14px;
  width: 100%;
  margin-top: 2px;
}

.remember-me-container {
  font-size: 14px;
  width: 100%;
  margin-top: 2px;
}

.forget-password,
.forget-password-xs,
.remember-me,
.remember-me-xs {
  @include cursor.pointer;
  min-height: 30px;
  line-height: 30px;
  color: #9dbcea;
}

.forget-password::before {
  content: 'Nie pamiętam hasła';
}

.forget-password-xs::before {
  content: 'Hasło?';
}

.remember-me::before {
  content: 'Zapamiętaj mnie';
}

.remember-me-xs::before {
  content: 'Zapamiętaj';
}

input[type="checkbox" i] {
  @include cursor.pointer;
  position: relative;
  top: 2px;
}
