<div class="login-container">
  <mat-card>
    <mat-card-title>Logowanie</mat-card-title>
    <div class="fail-info-container">
      <div class="incorrect-data">
      <div class="warning" *ngIf="userForm.hasError('error')">
        <mat-icon class="warning-icon-mr">warning</mat-icon>
        Wprowadź poprawne dane.</div>
      </div>
      <div class="login-failed">
      <div class="warning" *ngIf="userForm.hasError('failed')">
        <mat-icon class="warning-icon-mr">warning</mat-icon>
        Logowanie niepowiodło się.</div>
      </div>
    </div>

    <form style="width: 100%;" [formGroup]="userForm">
      <div class="form-group" (click)="resetWarning()">
        <input [formControlName]="'email'"
               type="search"
               autocomplete="off"
               id='email'
               class="form-field"
               placeholder="EMAIL"/>
        <label
          for="email"
          class="form-label">
          EMAIL
        </label>
      </div>

      <div class="form-group" (click)="resetWarning()">
        <input [formControlName]="'password'"
               type="search"
               autocomplete="off"
               style="-webkit-text-security: disc;"
               id='password'
               class="form-field"
               placeholder="HASŁO"/>
        <label
          for="password"
          class="form-label">
          HASŁO
        </label>
      </div>
    </form>

    <div class="forget-password-container">
      <span class="forget-password" routerLink="/reset/password">Nie pamiętam hasła</span>
    </div>

    <button mat-button class="login-button" (click)="login()">Zaloguj</button>

    <div class="register-container">
      Nie masz konta? <span class="register" routerLink="/register">Zarejestruj się</span>
    </div>
  </mat-card>
</div>
