@use "utils/variables";
@use "utils/classes";
@use "utils/input";
@use "utils/flex";

mat-card-title {
  font-family: variables.$body-font-family;
  margin-bottom: 0;
}

.forget-password-container {
  @include flex.row-start-center;
  font-size: 14px;
  width: 100%;
  margin-top: 2px;
}

.forget-password {
  min-height: 30px;
  line-height: 30px;
  color: #9dbcea;
  cursor: pointer;
}

.register-container {
  @include flex.row-center-center;
  font-size: 15px;
  min-width: 221px;
  color: #dcd9d9;
}

.register {
  margin-left: 5px;
  color: #337ac0;
  cursor: pointer;
}
