<div class="login-container">
  <mat-card>
    <mat-card-title>Logowanie</mat-card-title>
    <div class="fail-info-container">
      <div class="incorrect-data">
      <span *ngIf="userForm.hasError('error')">
        <fa-icon class="warning-icon-mr" [icon]="['fas', 'exclamation-triangle']"></fa-icon>
      Wprowadź poprawne dane.</span>
      </div>
      <div class="login-failed">
      <span *ngIf="userForm.hasError('failed')">
        <fa-icon class="warning-icon-mr" [icon]="['fas', 'exclamation-triangle']"></fa-icon>
      Logowanie niepowiodło się.</span>
      </div>
    </div>

    <form style="width: 100%;" [formGroup]="userForm">
      <div class="form-group" (click)="resetWarning()">
        <input [formControlName]="'email'"
               type="text"
               id='email'
               autocomplete="off"
               class="form-field"
               placeholder="EMAIL"/>
        <label
          for="email"
          class="form-label">
          EMAIL
        </label>
      </div>

      <div class="form-group" (click)="resetWarning()">
        <input [formControlName]="'password'"
               type="password"
               id='password'
               autocomplete="off"
               class="form-field"
               placeholder="HASŁO"/>
        <label
          for="password"
          class="form-label">
          HASŁO
        </label>
      </div>
    </form>

    <div class="forget-password-container">
      <span class="forget-password" routerLink="/reset/password">Nie pamiętam hasła</span>
    </div>

    <button mat-button class="login-button" (click)="login()">Zaloguj</button>

    <div class="register-container">
      Nie masz konta? <span class="register" routerLink="/register">Zarejestruj się</span>
    </div>
  </mat-card>
</div>
