<div class="entry-page-container">
  <mat-card class="mat-card-background">
    <mat-card-title>Logowanie</mat-card-title>

    <div class="info-container">
      <div class="warning warning-yellow-color" *ngIf="userForm.hasError('error')">
        <mat-icon class="info-icon-margin-right smaller-icon">warning</mat-icon>
        Wprowadź poprawne dane.
      </div>
      <div class="fail fail-red-color" *ngIf="userForm.hasError('failed')">
        <mat-icon class="info-icon-margin-right smaller-icon">warning</mat-icon>
        Logowanie niepowiodło się.
      </div>
    </div>

    <form class="form-group-container" [formGroup]="userForm">
      <div class="form-group" (click)="resetWarning()">
        <input [formControlName]="'email'"
               type="search"
               spellcheck="false"
               autocomplete="off"
               id='email'
               class="form-field"
               placeholder="EMAIL"/>
        <label
          for="email"
          class="form-label">
          EMAIL
        </label>
      </div>

      <div class="form-group" (click)="resetWarning()">
        <input [formControlName]="'password'"
               type="search"
               spellcheck="false"
               autocomplete="off"
               style="-webkit-text-security: disc;"
               id='password'
               class="form-field"
               placeholder="HASŁO"/>
        <label
          for="password"
          class="form-label">
          HASŁO
        </label>
      </div>
    </form>

    <div class="forget-password-and-remember-me-container">
      <div class="remember-me-container">
        <input type="checkbox" name="checkbox" [(ngModel)]="rememberMe"/>
        <span ngClass.gt-xs="remember-me" (click)="rememberMe = !rememberMe"><!--content in scss--></span>
        <span ngClass.xs="remember-me-xs" (click)="rememberMe = !rememberMe"><!--content in scss--></span>
      </div>
      <div class="forget-password-container">
        <span ngClass.gt-xs="forget-password" routerLink="/reset-password"><!--content in scss--></span>
        <span ngClass.xs="forget-password-xs" routerLink="/reset-password"><!--content in scss--></span>
      </div>
    </div>

    <button mat-button class="submit-button" (click)="login()">Zaloguj</button>

    <div class="register-container">
      Nie masz konta? <span class="register" routerLink="/register">Zarejestruj się</span>
    </div>
  </mat-card>
</div>
