$body-page-margin: 0;
$body-page-height: 100vh;
$body-font-family: 'Orbitron', sans-serif;
$body-font-color: #fffafa;
$body-background-color: #000000;

$dashboard-background-from-color: #030303;
$dashboard-background-to-color: #000357;
