<div class="centered-container">
  <mat-card class="mat-card-background max-width">
    <mat-card-title class="center-center entry-page-title">
      <mat-icon class="back-icon" routerLink="/login">arrow_back</mat-icon>
      <span class="register-title">Resetowanie hasła</span>
    </mat-card-title>

    <div class="info-container">
      <div class="warning warning-yellow-color" *ngIf="resetForm.hasError('error')">
        <mat-icon class="info-icon-margin-right smaller-icon">warning</mat-icon>
        <span class="content-margin-left">Wprowadź poprawne dane.</span>
      </div>
      <div class="fail fail-red-color" *ngIf="resetForm.hasError('failed')">
        <mat-icon class="info-icon-margin-right smaller-icon">warning</mat-icon>
        <span class="content-margin-left">Resetowanie hasła niepowiodło się.</span>
      </div>
    </div>

    <form class="form-group-container">
      <div class="form-group">
        <input id='reset-password-formula-email'
               type="search"
               spellcheck="false"
               autocomplete="off"
               class="form-field"
               placeholder="EMAIL"
               [formControl]="resetForm"/>
        <label
          for="reset-password-formula-email"
          class="form-label">
          EMAIL
        </label>
        <div class="register-info">* Na podany email zostanie wysłana wiadomość umożliwiająca ustawienie nowego hasła.</div>
      </div>
    </form>

    <div class="entry-page-action-buttons">
      <button mat-button class="cancel-button entry-page-margin-right" (click)="resetForm.reset()">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-button class="green-button center-center" (click)="resetPassword()">
        Resetuj
      </button>
    </div>
  </mat-card>
</div>
