<div class="entry-page-container">
  <mat-card>
    <mat-card-title>
      <mat-icon class="back-icon" routerLink="/login">arrow_back</mat-icon>
      <span class="register-title">Resetowanie hasła</span>
    </mat-card-title>

    <div class="info-container">
      <div class="warning warning-yellow-color" *ngIf="resetForm.hasError('error')">
        <mat-icon class="info-icon-margin-right smaller-icon">warning</mat-icon>
        Wprowadź poprawne dane.
      </div>
      <div class="fail fail-red-color" *ngIf="resetForm.hasError('failed')">
        <mat-icon class="info-icon-margin-right smaller-icon">warning</mat-icon>
        Resetowanie hasła niepowiodło się.
      </div>
    </div>

    <form class="form-group-container">
      <div class="form-group">
        <input [formControl]="resetForm"
               type="search"
               spellcheck="false"
               autocomplete="off"
               id='email'
               class="form-field"
               placeholder="EMAIL"/>
        <label
          for="email"
          class="form-label">
          EMAIL
        </label>
        <div class="info">* Na podany email zostanie wysłana wiadomość umożliwiająca ustawienie nowego hasła.</div>
      </div>
    </form>

    <div class="action-buttons">
      <button mat-button class="cancel-button" (click)="resetForm.reset()">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-button class="submit-button" (click)="resetPassword()">
        Resetuj
      </button>
    </div>
  </mat-card>
</div>
