@use "utils/variables";
//@use "utils/classes";
@use "layout/layout";
@use "layout/forms";
@use "abstract/flex";
@use "components/mat-card";

.info {
  font-size: 12px;
  font-family: variables.$body-font-family;
  margin-top: 10px;
}
