@use "utils/variables";
@use "abstract/flex";
@use "layout/forms";
@use "layout/layout";
@use "components/buttons";
@use "components/mat-card";
@use "components/info";

.center-center {
  @include flex.center-center
}

.max-width {
  max-width: 400px;
}

.register-title {
  text-align: center;
}

.register-info {
  font-size: 12px;
  font-family: variables.$font-family-segoe;
  color: variables.$body-font-color;
  margin-top: 10px;
}
