@use "src/styles/utils/variables";
@use "src/styles/utils/classes";
@use "src/styles/utils/input";
@use "src/styles/utils/flex";

mat-card-title {
  @include flex.row-between-center;
  width: 100%;
  font-family: variables.$body-font-family;
  margin-bottom: 0;
}

.register-title {
  margin: auto;
  transform: translateX(-21px);
}

.back-icon {
  margin-right: 25px;
  cursor: pointer;
  transform: scale(1.2);
}

.action-buttons {
  @include flex.row-center-center;
  width: 100%;

  .mat-button {
    min-width: 48px !important;
    padding: 0 8px !important;
  }
}

.trash {
  border: #dcdcdc 2px solid;
  margin-right: 10px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 12px;
  letter-spacing: 1px;
  font-size: 17px;

  .mat-icon {
    transform: scale(1.2);
  }
}
