@use "utils/variables";
@use "abstract/flex";

//.entry-page-container {
//  @include flex.column-center-center;
//  $padding-top: 20px;
//  padding-top: $padding-top;
//  min-height: calc(#{variables.$body-min-height} - #{variables.$footer-height} - #{$padding-top});
//}

.warning-yellow-color {
  color: #d9be00
}

.fail-red-color {
  color: #d90000
}

.mat-card {
  @include flex.column-start-center;

  width: 70%;
  max-width: 370px;

  border: rgba(0, 0, 0, 0.5) 2px solid;
  color: #dcd9d9;
}

.info-container {
  @include flex.row-center-center;
  width: 100%;
  min-height: 24px;
  line-height: 24px;
  font-size: 13px;

  .warning,
  .fail {
    @include flex.row-center-center;
  }
}

.submit-button {
  font-family: variables.$body-font-family;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 12px;
  letter-spacing: 1px;
  font-size: 15px;
  background-color: rgba(3, 3, 3, 0.17);
  color: variables.$body-font-family;
  border: variables.$green-button 2px solid;
}

.smaller-icon {
    transform: scale(0.62);
}

.info-icon-margin-right {
  margin-right: 3px;
}

//.cancel-button {
//  border: variables.$body-font-family 2px solid;
//  margin-right: 10px;
//  border-radius: 4px;
//  margin-top: 20px;
//  margin-bottom: 12px;
//  letter-spacing: 1px;
//  font-size: 17px;
//}

mat-card-title {
  text-align: center;
  position: relative;
  width: 100%;
  font-family: variables.$body-font-family;
  margin-bottom: 0;
}
