@use "utils/variables";
@use "utils/flex";

.entry-page-container {
  @include flex.column-center-center;
  $padding-top: 20px;
  padding-top: $padding-top;
  min-height: calc(#{variables.$body-min-height} - #{variables.$footer-height} - #{$padding-top});
}

.warning-yellow-color {
  color: #d9be00
}

.fail-red-color {
  color: #d90000
}

.mat-card {
  @include flex.column-start-center;

  width: 70%;
  max-width: 370px;

  border: rgba(0, 0, 0, 0.5) 2px solid;
  color: #dcd9d9;

  $bg-from-color: rgba(1, 1, 49, 0.5);
  $bg-to-color: rgba(4, 6, 68, 0.5);
  background: -webkit-linear-gradient(to right, $bg-from-color, $bg-to-color);
  background: -moz-linear-gradient(to right, $bg-from-color, $bg-to-color);
  background: -o-linear-gradient(to right, $bg-from-color, $bg-to-color);
  background: linear-gradient(to right, $bg-from-color, $bg-to-color);
}

.info-container {
  @include flex.row-center-center;
  width: 100%;
  min-height: 24px;
  line-height: 24px;
  font-size: 13px;

  .warning,
  .fail {
    @include flex.row-center-center;
  }
}

.submit-button {
  font-family: variables.$body-font-family;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 12px;
  letter-spacing: 1px;
  font-size: 15px;
  background-color: rgba(3, 3, 3, 0.17);
  color: rgba(255, 250, 250, 0.85);
  border: rgba(3, 197, 71, 0.95) 2px solid;
}

.smaller-icon {
    transform: scale(0.62);
}

.info-icon-margin-right {
  margin-right: 3px;
}

.cancel-button {
  border: #dcdcdc 2px solid;
  margin-right: 10px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 12px;
  letter-spacing: 1px;
  font-size: 17px;
}

.back-icon {
  position: absolute;
  left:0;
  cursor: pointer;
  transform: scale(1.2);
}

.register-title {
  margin-left: 30px;
}

mat-card-title {
  text-align: center;
  position: relative;
  width: 100%;
  font-family: variables.$body-font-family;
  margin-bottom: 0;
}

.action-buttons {
  @include flex.row-center-center;
  width: 100%;

  .mat-button {
    min-width: 48px !important;
    padding: 0 8px !important;
  }
}
