$body-margin: 0;
$body-min-height: 100vh;
$body-min-width: 280px;
$body-font-family:'Orbitron', sans-serif;
$body-font-color: #fffafa;
$body-background-color: #000000;

$footer-height: 64px;
$dashboard-title-height: 145px;

$dashboard-background-from-color: #030303;
$dashboard-background-to-color: #000357;

$purple-color: rgba(101, 46, 203, 0.8);
