@use "src/styles/variables.scss";

.background {
  $bg-from-color: #030303;
  $bg-to-color: #000357;
  background: -webkit-linear-gradient(to right, $bg-from-color, $bg-to-color);
  background: -moz-linear-gradient(to right, $bg-from-color, $bg-to-color);
  background: -o-linear-gradient(to right, $bg-from-color, $bg-to-color);
  background: linear-gradient(to right, $bg-from-color, $bg-to-color);
}

.flex-column {
  display: flex;
  flex-direction: column;
  min-height: variables.$body-min-height;
}

.router {
  display: flex;
  flex-direction: column;
  min-height: calc(#{variables.$body-min-height} - #{variables.$footer-height});
}
