.background {
  height:100vh;
  background: -webkit-linear-gradient(to right, var(--bg-from-color), var(--bg-to-color));
  background: -moz-linear-gradient(to right, var(--bg-from-color), var(--bg-to-color));
  background: -o-linear-gradient(to right, var(--bg-from-color), var(--bg-to-color));
  background: linear-gradient(to right, var(--bg-from-color), var(--bg-to-color));
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 0 20px 0 20px;
}

h1, h2 {
  text-align: center;
}

h3 {
  color: var(--purple-color);
  letter-spacing: 2px;
}

.title {
  width: 100%;
  margin-top: 0;
  font-size: 5em;
  text-shadow: var(--purple-color) 7px 7px;
  color: var(--white-color);
  font-weight: 700;
  letter-spacing: 0.4em;
  margin-bottom: 0;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 1.5%;
  font-size: 1.5em;
  color: var(--blue-color);
  font-weight: 600;
  letter-spacing: 0.8em;
}

img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  /*filter: blur(0);*/
  /*transition: 1s filter linear;*/
  /*-webkit-transition: 1s -webkit-filter linear;*/
  /*-moz-transition: 1s -moz-filter linear;*/
  /*-ms-transition: 1s -ms-filter linear;*/
  /*-o-transition: 1s -o-filter linear;*/
  transition: 1s ease;
}

img:hover {
  cursor: pointer;
}
