@use "src/styles/utils/variables";

$flashcards-container-padding-top: 100px;
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #dcd9d9;

.register-title {
  margin: auto;
  transform: translateX(-10.5px);
}





.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(#{variables.$body-min-height} - #{variables.$footer-height});

  mat-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    $bg-from-color: rgba(1, 1, 49, 0.5);
    $bg-to-color: rgba(4, 6, 68, 0.5);
    background: -webkit-linear-gradient(to right, $bg-from-color, $bg-to-color);
    background: -moz-linear-gradient(to right, $bg-from-color, $bg-to-color);
    background: -o-linear-gradient(to right, $bg-from-color, $bg-to-color);
    background: linear-gradient(to right, $bg-from-color, $bg-to-color);

    border: rgba(0, 0, 0, 0.5) 2px solid;
    color: $gray;

    width: 70%;
    max-width: 370px;
    height: 470px;

    mat-card-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%;
      font-family: variables.$body-font-family;
      margin-bottom: 0px;
    }
  }
}

.forget-password-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Segoe UI Semibold", sans-serif;
  font-size: 14px;
  width: 100%;
  margin-top: 2px;

  .forget-password {
    font-family: "Segoe UI Semibold", sans-serif;
    color: #9dbcea;
    cursor: pointer;
  }
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI Semibold", sans-serif;
  font-size: 15px;
  min-width: 221px;
  color: $gray;

  .register {
    font-family: "Segoe UI Semibold", sans-serif;
    margin-left: 5px;
    color: #337ac0;
    cursor: pointer;
  }
}

.login-button {
  font-family: variables.$body-font-family;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 12px;
  letter-spacing: 1px;
  font-size: 15px;
  background-color: rgba(3, 3, 3, 0.17);
  color: rgba(255, 250, 250, 0.85);
  border: rgba(3, 94, 197, 0.95) 2px solid;
}

/* input */

.form-group {
  width: 100%;
  position: relative;
  padding: 15px 0 0;
  max-width: 550px;
  font-family: "Segoe UI Semibold", sans-serif;
}

.form-field {
  font-family: "Segoe UI Semibold", sans-serif;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form-label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

input {
  color: red;
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
  font-family: "Segoe UI Semibold", sans-serif;
}

.form-field:focus {
  ~ .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: snow;
    font-weight: 700;
  }

  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #272c96, #6f76fa);
  border-image-slice: 1;
}

/* reset input */
.form-field {
  &:required, &:invalid {
    box-shadow: none;
  }
}
