<div class="login-container">
  <mat-card>
    <mat-card-title>
      <fa-icon [icon]="['fas', 'arrow-left']" class="back-icon" routerLink="/login"></fa-icon>
      <span class="register-title">Rejestracja</span>
    </mat-card-title>

    <form class="form-group" [formGroup]="userForm">
      <div class="form-group">
        <input [formControlName]="'email'"
               type="text"
               id='email'
               autocomplete="off"
               class="form-field"
               placeholder="EMAIL"
               (click)="isEmailInvalid=false"/>
        <label for="email"
               class="form-label">
          EMAIL
        </label>
        <div class="error">
          <span *ngIf="isEmailInvalid">
            Niepoprawne dane
          </span>
        </div>
      </div>

      <div class="form-group">
        <input [formControlName]="'password'"
               type="text"
               autocomplete="off"
               id='password'
               class="form-field"
               placeholder="HASŁO"
               (click)="isPasswordInvalid=false"/>
        <label for="password"
               class="form-label">
          HASŁO
        </label>
        <div class="error">
          <span *ngIf="isPasswordInvalid">
            Niepoprawne dane
          </span>
        </div>
      </div>

      <div class="form-group">
        <input [formControlName]="'replayPassword'"
               type="text"
               autocomplete="off"
               id='replyPassword'
               class="form-field"
               placeholder="POWTÓRZ HASŁO"
               (click)="isReplayPasswordInvalid=false"/>
        <label for="replyPassword"
               class="form-label">
          POWTÓRZ HASŁO
        </label>
        <div class="error">
          <span *ngIf="isReplayPasswordInvalid">
            Niepoprawne dane
          </span>
        </div>
      </div>

      <app-captcha (captchaStatusEmitter)="setCaptchaStatus($event)"></app-captcha>
    </form>

    <button mat-button class="login-button" (click)="register()">
      Zarejestruj
    </button>
  </mat-card>
</div>
