.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100vw;
}

table {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.35) !important;
  border: rgba(101, 46, 203, .8) 2px solid;
}

mat-paginator {
  width: 80%;
}

.mat-paginator-page-size-label,
.mat-paginator-page-size-value {
  display: none;
}

.mat-row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.60);
}

.mat-row:hover {
  background-color: rgba(101, 46, 203, .2);
}

td.mat-cell,
th.mat-header-cell {
  color: snow;
  padding: 0 24px 0 24px !important;
}

.mat-header-cell {
  color: snow;
  font-weight: 600;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.60);
}

.mat-paginator-container {
  background-color: #030112;
  color: snow;
  border: rgba(101, 46, 203, .8) 2px solid;
  border-top: none;
  justify-content: space-between;
  min-height: 40px;
}

.mat-column-content {
  width: 40%;
}

.mat-column-translation {
  width: 40%;
}

.mat-column-example {
  width: 5%;
}

.mat-column-image {
  width: 5%;
}

.mat-column-action {
  width: 5%;
}
