@use "utils/variables";
@use "abstract/flex";
@use "layout/forms";
@use "layout/layout";
@use "components/buttons";
@use "components/cursor";

.flashcards-editor-add-flashcard-max-width {
  max-width: 200px;
}

.flashcards-editor-add-flashcard-margin-left {
  margin-left: 15px !important;
}

.flashcards-editor-buttons-container {
  min-width: 230px;
  margin-left: 20px !important;
}

.flashcards-editor-search-container {
  @include flex.row-between-center;
  width: 85vw;
  max-width: 1030px;
  height: 61px;
}

.flashcards-editor-display-none {
  display: none !important;
}




mat-paginator {
  max-width: 1030px;
  width: 100%;
}

.mat-paginator-range-label,
.mat-paginator-container {
  padding: 0 !important;
  margin: 0 !important;
  min-height: 0 !important;
}

.mat-paginator-page-size-label,
.mat-paginator-page-size-value {
  display: none;
}






.flashcards-editor-table-and-paginator-container {
  width: 85vw;
  max-width: 1030px;
  border: rgba(101, 46, 203, .8) 2px solid;

  .table-container {
    width: 100%;
    overflow-x: auto;

    .no-data {
      width: 100%;
      text-align: center;
    }

    table {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.35) !important;

      td.mat-cell,
      th.mat-header-cell {
        color: variables.$body-font-color;
        padding: 0 8px 0 8px !important;
      }

      .mat-header-cell {
        color: variables.$body-font-color;
        font-weight: 600;
        font-size: 15px;
        background-color: rgba(0, 0, 0, 0.60);
      }

      .mat-column-action,
      .mat-column-image-and-example {
        text-align: center !important;
      }

      .mat-row:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.60);
      }

      .mat-row:hover {
        background-color: rgba(101, 46, 203, .2);
      }

      .mat-column-content {
        width: 40%;
      }

      .mat-column-translation {
        width: 40%;
      }

      .mat-column-example {
        width: 5%;
      }

      .mat-column-image {
        width: 5%;
      }

      .mat-column-action {
        min-width: 140px;

        .mat-button {
          display: inline-flex;
          margin: 3px;
          min-width: 0;
          line-height: 0;
          padding: 4px;
        }
      }
    }
  }

  .custom-flashcards-toolbar {

    .flashcard-toolbar-row {
      padding: 0 0 !important;
      height: 40px !important;

      .mat-paginator-container {
        background-color: #030112;
        color: snow;
        justify-content: space-between;
        min-height: 40px;
      }
    }

    &.mat-toolbar-multiple-rows {
      width: 100% !important;
      border-top: rgba(101, 46, 203, .8) 2px solid !important;
      min-height: 40px !important;
      background-color: #030112;
      color: snow;
      border-top: none;
    }

    mat-tooltip-component {
      display: none !important;
    }
  }
}
