<app-flashcards-menu></app-flashcards-menu>

<div class="centered-container">
  <div class="flashcards-editor-search-container">
    <div class="form-group">
      <input id='search-engine'
             type="search"
             spellcheck="false"
             autocomplete="off"
             class="form-field"
             placeholder="Słówko"
             (keyup)="applyFilter($event)"/>
      <label for="search-engine" class="form-label">
        <mat-icon ngClass.gt-xs="flashcards-editor-display-none">search</mat-icon>
        <span ngClass.xs="flashcards-editor-display-none">Wyszukiwarka</span>
      </label>
    </div>
    <button mat-button (click)="addFlashcard()"
            class="green-button flashcards-editor-add-flashcard-max-width flashcards-editor-add-flashcard-margin-left"
            ngClass.xs="flashcards-editor-display-none">Dodaj</button>
    <button mat-button (click)="addFlashcard()"
            class="add-button flashcards-editor-add-flashcard-margin-left"
            ngClass.gt-xs="flashcards-editor-display-none">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="flashcards-editor-table-and-paginator-container">
    <div class="table-container">
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef>Słówko PL</th>
          <td mat-cell *matCellDef="let flashcard">{{flashcard.content}} </td>
        </ng-container>

        <ng-container matColumnDef="translation">
          <th mat-header-cell *matHeaderCellDef>Tłumaczenie</th>
          <td mat-cell *matCellDef="let flashcard">{{flashcard.translation}} </td>
        </ng-container>

        <ng-container matColumnDef="image-and-example">
          <th mat-header-cell *matHeaderCellDef>Przykład<br/>Obrazek</th>
          <td mat-cell *matCellDef="let flashcard">
            <span *ngIf="!flashcard.example">NIE</span>
            <span *ngIf="flashcard.example">TAK</span>
            <br/>
            <span *ngIf="!flashcard.image">NIE</span>
            <span *ngIf="flashcard.image">TAK</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Akcje</th>
          <td mat-cell *matCellDef="let flashcard">
            <button mat-button class="modify-button" (click)="editFlashcard(flashcard)">
              <mat-icon>build</mat-icon>
            </button>
            <button mat-button class="cancel-button" (click)="deleteFlashcard(flashcard)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell no-data" *ngIf="!loading" [attr.colspan]="displayedColumns.length">
            Brak danych do wyświetlenia.
          </td>
          <td class="mat-cell no-data" *ngIf="loading" [attr.colspan]="displayedColumns.length">
            Twoje fiszki się wczytują...
          </td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-toolbar class="custom-flashcards-toolbar">
      <mat-toolbar-row class="flashcard-toolbar-row">
        <button mat-button class="export-button" (click)="downloadBackup()">
          <mat-icon>get_app</mat-icon>
        </button>
        <button mat-button class="import-button" (click)="importBackup()">
          <mat-icon>input</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <mat-paginator [pageSizeOptions]=[8]></mat-paginator>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
