body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0;

  font-family: 'Orbitron', sans-serif;
  --purple-color: #652ecb;
  --blue-color: #1c13c5;
  --white-color: #fff8f8;

  background: -webkit-linear-gradient(to right, #030303, #000357);
  background: -moz-linear-gradient(to right, #030303, #000357);
  background: -o-linear-gradient(to right, #030303, #000357);
  background: linear-gradient(to right, #030303, #000357);
}
