@use "src/styles/variables";

body {
  margin: variables.$body-margin;
  min-height: variables.$body-min-height;
  min-width: variables.$body-min-width;
  background-color: variables.$body-background-color;
  color: variables.$body-font-color;
  font-family: variables.$body-font-family;
}
