html, body {
  height: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  background-color: black;
  color: snow;

  font-family: 'Orbitron', sans-serif;
  --purple-color: #652ecb;
  --blue-color: #1c13c5;

  --bg-from-color: #030303;
  --bg-to-color: #000357;

  --blur-seconds: 2s;
  transition: var(--blur-seconds) filter ease;
  -webkit-transition: var(--blur-seconds) -webkit-filter ease;
  -moz-transition: var(--blur-seconds) -moz-filter ease;
  -ms-transition: var(--blur-seconds) -ms-filter ease;
  -o-transition: var(--blur-seconds) -o-filter ease;
}
