body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0;

  font-family: 'Common Pixel', sans-serif;

  background: -webkit-linear-gradient(to right, #030303, #000357);
  background: -moz-linear-gradient(to right, #030303, #000357);
  background: -o-linear-gradient(to right, #030303, #000357);
  background: linear-gradient(to right, #030303, #000357);
}
