<div class="centered-container">
  <mat-card class="mat-card-background">
    <mat-card-title class="center-center login-title">
      <mat-icon class="back-icon" routerLink="/login">arrow_back</mat-icon>
      <span class="register-title">Rejestracja</span>
    </mat-card-title>

    <div class="info-container">
      <div class="warning warning-yellow-color" *ngIf="userForm.hasError('error')">
        <mat-icon class="info-icon-margin-right smaller-icon">warning</mat-icon>
        Wprowadź poprawne dane.
      </div>
      <div class="fail fail-red-color" *ngIf="userForm.hasError('failed')">
        <mat-icon class="info-icon-margin-right smaller-icon">warning</mat-icon>
        Rejestracja niepowiodła się.
      </div>
    </div>

    <form class="form-group-container" [formGroup]="userForm">
      <div class="form-group">
        <input id='email'
               type="search"
               class="form-field"
               spellcheck="false"
               autocomplete="off"
               placeholder="EMAIL"
               [formControlName]="'email'"
               (click)="resetWarning()"/>
        <label for="email" class="form-label">
          EMAIL
        </label>
      </div>

      <div class="form-group">
        <input id='password'
               type="search"
               spellcheck="false"
               autocomplete="off"
               class="form-field"
               placeholder="HASŁO"
               [formControlName]="'password'"
               (click)="resetWarning()"/>
        <label for="password" class="form-label">
          HASŁO
        </label>
      </div>

      <div class="form-group">
        <input id='replyPassword'
               type="search"
               class="form-field"
               spellcheck="false"
               autocomplete="off"
               placeholder="POWTÓRZ HASŁO"
               [formControlName]="'replayPassword'"
               (click)="resetWarning()"/>
        <label for="replyPassword" class="form-label">
          POWTÓRZ HASŁO
        </label>
      </div>

      <app-captcha (captchaStatusEmitter)="setCaptchaStatus($event)"></app-captcha>
    </form>

    <div class="action-buttons">
      <button mat-button class="cancel-button margin-right" (click)="userForm.reset()">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-button class="green-button center-center" (click)="register()">
        Zarejestruj
      </button>
    </div>
  </mat-card>
</div>
<!--style="-webkit-text-security: disc;"-->
